* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.horizontal-container {
  display: flex;
}

.context-menu {
  position: absolute;
}

.context-menu-option {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.context-menu-parent {
  position: relative;
}

.board-name {
  cursor: pointer;
  padding: 10px;
}

.board {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.board-view {
  height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 10px;
}

.graph-container {
  display: flex;
}

.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  min-width: 40px;
  position: relative;
}

.node-actions {
  display: flex;
  flex-direction: column;
  width: 20px;
  position: absolute;
  right: -20px;
  top: 0;
  background-color: white;
  z-index: 1;
}

.node-action {
  background-color: white;
  margin: 0;
  padding: 0;
}

.graph-children {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

button {
  border: solid rgb(219, 219, 219) 1px;
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(231, 231, 231);
}

.left-side-bar {
  width: 300px;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.right-side-bar {
  width: 400px;
  height: 100vh;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.question {
  cursor: pointer;
  padding: 10px;
}

.question:hover {
  background-color: #f0f0f0;
}
