:root {
  --font-size: 22px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --background-color: #494949;
  --background-color-accent: #3f3f3f;
  --color-primary: #888;
  --color-secondary: #555;
  --color-track: #f1f1f1;
  --color-hover: #f0f0f0;
  --color-white: #ffffff;
  --note-color: #ffdf72;
  --button-color: #ffdf72; /* Button color */
  --sidebar-bg-color: #333333; /* Sidebar background color */
  --box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  --box-shadow-hover: 0 2px 8px 0 rgba(255, 255, 255, 0.2);
  --border-radius: 5px;
  --transition: 0.3s;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-track);
}

h1 {
  color: white;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
code {
  font-size: var(--font-size);
}

.horizontal-container {
  display: flex;
}

.middle-container {
  width: calc(100% - 400px);
}

.context-menu {
  position: absolute;
}

.context-menu-option {
  padding: 10px;
  cursor: pointer;
  background-color: var(--color-white);
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition);
}

.context-menu-option:hover {
  background-color: var(--color-hover);
}

.context-menu-parent {
  position: relative;
}

.loose-action {
  font-size: 28px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--color-white);
  outline: none;
  border: none;
  margin-left: 5px;
}

.new-board-button {
  margin-bottom: 30px;
}

.board-name {
  cursor: pointer;
  padding: 10px;
  color: var(--color-white);
}

.board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.board:hover {
  box-shadow: var(--box-shadow);
}

.board-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-delete button {
  border-radius: 5px;
  margin-right: 5px;
}

.board-view {
  height: 80vh;
  width: 100%;
  padding: 10px;
  background-color: var(--background-color);
}

.board-view-title {
  height: 5vh;
}

.board-view-content {
  height: 70vh;
  overflow: auto;
}

.graph-container {
  display: flex;
}

.graph-children > .graph-container {
  margin-right: 5px;
  margin-bottom: 5px;
}

.graph-children:first-child,
.graph-children:last-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  max-width: 300px;
  min-width: 40px;
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--note-color);
}

.node:hover {
  box-shadow: var(--box-shadow-hover);
}

.highlighted {
  background-color: #b5d1ff5a;
}

.node-actions {
  display: flex;
  width: 40px;
  position: absolute;
  right: -40px;
  top: 0;
  background-color: var(--color-white);
  z-index: 1;
}

.node-action button {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.graph-children {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

button {
  border: solid 1px rgb(219, 219, 219);
  background-color: var(--color-white);
  outline: none;
  border: none;
  cursor: pointer;
  transition: box-shadow var(--transition);
}

button:hover {
  box-shadow: var(--box-shadow-hover);
}

.left-side-bar,
.right-side-bar {
  width: 300px;
  height: 100vh;
  overflow: auto;
  box-shadow: var(--box-shadow);
  padding: 10px;
  background-color: var(--sidebar-bg-color); /* Sidebar background color */
}

.right-side-bar {
  width: 400px;
}

.bottom-bar {
  height: 20vh;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 10px;
  background-color: var(--background-color-accent);
  position: relative;
}

.question {
  color: var(--color-white);
  cursor: pointer;
  padding: 10px;
}

.question:hover {
  box-shadow: var(--box-shadow);
}

textarea.loose-note-input {
  width: 180px;
  height: calc(100% - 28px);
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--note-color);
  box-shadow: 1px 0px 4px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 14px;
  z-index: 1;
  transition: width var(--transition), box-shadow var(--transition),
    top var(--transition);
}

textarea.loose-note-input:focus {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: calc(-20vh + 10px);
  box-shadow: 1px 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.loose-notes {
  width: calc(100% - 180px);
  display: flex;
  margin-left: 180px;
  padding-left: 10px;
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
}

.loose-note {
  flex-shrink: 0;
  width: 180px;
  height: calc(100% - 8px);
  padding: 10px;
  margin: 4px 10px 4px 0;
  outline: none;
  border: none;
  background-color: var(--note-color);
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  transition: width var(--transition), box-shadow var(--transition),
    top var(--transition);
  cursor: pointer;
}

.loose-note:hover {
  box-shadow: var(--box-shadow-hover);
}

.question-category-name {
  border-bottom: solid 1px rgb(209, 209, 209);
  color: var(--color-white);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
